/* RESET + GLOBAL */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  color: #333;
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;

  background:
    radial-gradient(ellipse at top left, #a5d6a7 0%, transparent 60%),
    radial-gradient(ellipse at bottom right, #81c784 0%, transparent 60%),
    radial-gradient(ellipse at center, #c8e6c9 0%, transparent 70%),
    #f1f8e9;
}
body.dark {
  background: #121212;
  color: white;
}

body.dark .card {
  background: #1e1e1e;
}

body.dark .navbar {
  background: #1a1a1a;
}

body.dark .hero-banner {
  background: #2e7d32;
  color: white;
}


.loader {
  margin: 40px auto;
  border: 5px solid #eee;
  border-top: 5px solid #2e7d32;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}




  