.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
  background: #2c3e50;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* LEFT */
.nav-left {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.logo {
  width: 40px;
}

/* RIGHT (desktop) */
.nav-right {
  display: flex;
  z-index: 1100;
  align-items: center;
  gap: 15px;
}

/* hamburger hidden on desktop */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* flags */
.flags img {
  width: 28px;
  cursor: pointer;
  margin: 0 3px;
}

/* MOBILE */
@media (max-width: 768px) {

  .hamburger {
    display: block;
  }

  .nav-right {
    position: absolute;
    top: 60px;
    right: 0;
    width: 220px;
    background: #2c3e50;

    flex-direction: column;
    padding: 20px;

    display: none;
  }

  .nav-right.open {
    display: flex;
  }

  .nav-item,
  .flags,
  .theme-btn,
  .logout,
  a {
    margin: 10px 0;
    position: relative;
    z-index: 1;
  }
}

/* CART */
@media (max-width: 768px) {
  .cart-container {
    padding: 15px;
    margin: 80px auto;
  }

  .cart-card {
    width: 100%;
  }
}

#root, .layout {
  min-height: 100vh; 
  position: relative;
}